// SASS Veriables ========================= //

$primary-color: #1e1e20;
$secondary-color: #1e1e;
$text-color: #dfdfd7;
$hover-color: green;
$clicked-color: gray;

// SASS MAP - like javascript (object) key value pear ========================= //

$font-weights: (
  "regular": 500,
  "medium": 1000,
  "bold": 2000,
);

$font-size: (
  "regular": 12px,
  "medium": 24px,
  "bold": 50px,
);

// function used for calculation and reusable code creation purpose
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

// mixin use for style purpose ( start here

@mixin flexcenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: $direction;
}

.mixin__trial {
  @include flexcenter(column);
  width: 60%;
}
// mixin use for style end here )

// ====================================================

// mixin with theme start here

@mixin theme($light-theme: true) {
  @if $light-theme {
    background-color: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

.light {
  @include theme(true);
}

// mixin with theme end here

// ====================================================

// extend prepocessor start here

.extend {
  height: 200px;
  width: 275px;
  box-shadow: 0px 0px 10px 0px rgba(8, 7, 7, 0.79);
  border-radius: 0.5rem;
}

.extend-title {
  @extend .extend;
  :hover {
    color: $primary-color;
  }
}
