@import "./reset";
@import "./variables";

body {
  width: 100%;
  background-color: $primary-color;
  color: $text-color;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  width: 100%;
  background-color: $primary-color;
  max-height: auto;
  position: fixed;
  top: 0;
  padding: 1.5rem 2rem;
}

.nav-left {
  display: flex;
  margin-right: auto;
}

ul {
  display: flex;

  a {
    text-decoration: none;

    li {
      font-size: 18px;
      color: $text-color;
      font-weight: 600;
      list-style-type: none;
      padding-right: 1rem;
    }
  }
}

.main {
  width: 90%;
  margin: auto;
  padding: 10rem 3rem 0rem 3rem;
  font-size: 24px;

  a {
    text-decoration: none;
    padding: 0rem;
  }
}

.main__title {
  width: 50%;
  font-weight: 700;
  align-items: left;
  color: #10b981;
  font-size: 56px;
  line-height: 64px;
}

.main__content {
  width: 50%;
  font-weight: 700;
  align-items: left;
  color: $text-color;
  font-size: 56px;
  line-height: 64px;
}

.main__tagline {
  width: 50%;
  font-weight: 500;
  align-items: left;
  color: $text-color;
  font-size: 24px;
  line-height: 36px;
  padding: 1rem 0;
}

.main__para2 {
  color: $text-color;
  font-weight: map-get($font-weights, bold);
  font-size: map-get($font-size, medium);
  padding-bottom: 2rem;
}

// SASS mixin -  ========================= //
