@import url(./_reset.scss);
@import url(./_variables.scss);

body {
  width: 70%;
  background-color: $primary-color;
  color: $text-color;
  padding: 2rem;
  margin: auto;
}

.main {
  width: 70%;
  font-size: 24px;

  a {
    color: $text-color;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  a :hover {
    color: $hover-color;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
  }
}

.main__para1 {
  color: $text-color;
  font-weight: map-get($font-weights, regular);
  font-size: map-get($font-size, regular);

  @at-root :hover {
    color: $hover-color;
  }
}

.main__para2 {
  color: $text-color;
  font-weight: map-get($font-weights, bold);
  font-size: map-get($font-size, medium);

  @at-root :hover {
    color: $hover-color;
  }
}

// SASS mixin -  ========================= //
