// SASS Veriables ========================= //

$primary-color: #1e1e20;
$secondary-color: pink;
$text-color: #dfdfd7;
$hover-color: green;
$clicked-color: gray;

// SASS MAP - like javascript (object) key value pear ========================= //

$font-weights: (
  "regular": 300,
  "medium": 500,
  "bold": 2000,
);

$font-size: (
  "regular": 16px,
  "medium": 24px,
  "bold": 30px,
);



body {
  width: 50%;
  background-color: $primary-color;
  color: $text-color;
  padding: 2rem;
  margin: auto;
}

.main {
  font-size: map-get($font-size, );

  .main a {
    color: $text-color;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;

  #{main} a :hover {
    color: $hover-color;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
  }
}

.main_para1 {
  color: $text-color;
  font-weight: map-get($font-weights, regular);
  margin: auto;
}

.main_para2 {
  color: $secondary-color;
  font-weight: map-get($font-weights, bold);
  margin: auto;
  font-size: map-get($font-size, medium);
}
// SASS mixin -  ========================= //

@mixin;
